/*MI PORTFOLIO CSS*/

*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

body{
    background-color: rgb(17, 17, 17);
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
}

/*NAVIGATOR CSS*/

.icon{
    color: rgb(97, 243, 97);
    margin-left: 10px;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 300px;
    background-color: rgb(54, 54, 54);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav{
    text-align: center;
    color: rgb(221, 217, 217);
    margin-top: 15  0px;
    position: fixed;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: justify;
}

.img_container{
    padding: 6px;
    background-color: rgb(97, 243, 97);
    border-radius: 100%;
    width: 95px;
    margin: 0 auto;
    
}

.header_img{
    border-radius: 100%;
    width: 75px;
    box-shadow: 1px 1px 5px 1px  rgb(0, 0, 0);
    
}

.h2_nav{
    font-size: 15px;
    font-variant: small-caps;
}

.nav_list{
    font-variant: small-caps;
    font-size: 18px;
    text-decoration: none;
    list-style: none    ;
}

.nav_list_item{
    border-radius: 8px;
    background-color: rgb(77, 76, 76);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 40px;
    text-align: center;
    list-style: none;
}

.nav_list_link{
    text-decoration: none;
    color: rgb(221, 217, 217);
}

.nav_list_item:hover{
    background-color: rgb(97, 243, 97);
    color: rgb(77, 76, 76);
}

/*MAIN CSS*/

.main{

    max-width: 900px;
    position: relative;
    left: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*MAIN INICIO CSS*/

.inicio{
    margin-top: 200px;
    max-width: 900px;
}

.inicio_title{
    font-size: 40px;
    color: rgb(221, 217, 217);
}

.inicio_subtitle{
    font-size: 40px;
    color: rgb(221, 217, 217);
    display: flex;
    margin-top: -20px;
}

.subtitle_name{

    margin-left: 10px;
    color: rgb(97, 243, 97);

}

.inicio_text{
    margin-top: -50px;
    max-width: 500px;
    text-align: justify;
    color: rgb(221, 217, 217);
}

.inicio_link{
    text-decoration: none;
    color: rgb(221, 217, 217);
    background-color: rgb(77, 76, 76);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}

/*MAIN SOBRE_MI CSS*/

.sobre_mi{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: center;
    max-width: 900px;
}

.sobre_mi_title{
    font-size: 40px;
    display: flex;
    color: rgb(221, 217, 217);
}

.sobre_mi_body{

    margin: 0 auto;

}

.sobre_mi_list{

    margin-left: -80px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    color: rgb(221, 217, 217);

}

.list_word{
    color: rgb(97, 243, 97);
}

.sobre_mi_cv{

    text-decoration: none;
    color: rgb(221, 217, 217);
    margin-top: 10px;
    margin-left: -40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(77, 76, 76);
    border-radius: 20px;
    font-size: 20px;

}

.sobre_mi_box{
    display: flex;
    gap: 2rem;
    margin-top: 50px;
    margin-left: 30px;
    flex-wrap: wrap;
}

.box{
    background-color: rgb(77, 76, 76);
    width: 150px;
    height: 140px; 
    text-align: center;
}

.box_text{

    font-size: 28px;
    font-variant: small-caps;
    color: rgb(221, 217, 217);

}

/*MAIN MI_FORMACIÓN CSS*/

.mi_info{

    margin-top: 400px;
    color: rgb(221, 217, 217);
    width: 100%;
}

.mi_info_title{
    font-size: 40px;
    color: rgb(221, 217, 217);
}

.mi_info_boxes{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
}

.graduation_icon{
    color: rgb(17, 17, 17);
    background-color: rgb(97, 243, 97);
    border-radius: 100%;
    padding: 10px;
    font-size: 35px;
    position: relative;
    left: -30px;
    top: -5px;
    width: 60px;
}

.info_box{

    border-left: 2px solid rgb(97, 243, 97);
    width: 370px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    

}

.info_box_date{
    background-color: rgb(54, 54, 54);
    width: 150px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    border-radius: 50px;
    margin-left: 25px;
    position: relative;
    top: -70px;
    left: 40px;

}

.info_box_date:hover{
    background-color: rgb(97, 243, 97);
    color: rgb(77, 76, 76);
}

.info_box_title{
    color: rgb(97, 243, 97);
    font-size: 30px;
    margin-left: 20px;
    position: relative;
    top: -130px;
    font-variant: small-caps;
}

.info_box_text{

    color: rgb(221, 217, 217);
    margin-left: 20px;
    position: relative;
    top: -130px;
    text-align: justify;
}

/*MAIN MI_PORTFOLIO CSS*/

.mi_portfolio{
    margin-top: 400px;
    
}

.mi_portfolio_images{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.mi_portfolio_img{
    max-width: 350px;
}

.mi_portfolio_img:hover{
    width: 360px;
}

/*MAIN MI_CONTACTO CSS*/

.mi_contacto{
    margin-top: 400px;
    padding-bottom: 50px;
}

.mi_contacto_body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.mi_contacto_text{
    color: rgb(221, 217, 217);
    font-size: 20px;
    margin-top: -10px;
}

/*MAIN MI_CONTACTO FORM CSS*/

.mi_contacto_form{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    max-width: 900px;

}

.input_1{

    width: 500px;
    height: 45px;
    font-size: 20px;
    background-color: rgb(77, 76, 76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border:none;
    padding: 5px;

}

.textarea{
    
    height: 150px;
    font-size: 20px;
    background-color: rgb(77, 76, 76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border:none;
    padding: 5px;
}

.mi_contacto_enviar{
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border: none;
    background-color: rgb(77, 76, 76);
    border-radius: 25px;
    padding: 10px;
    color: rgb(221, 217, 217);
}



